In [1]:
birth = 20220820

In [2]:
birth = 2002

In [3]:
2024 - int(birth)

22

In [4]:
print(2024 - int(birth), 'ㅅ
      ')

SyntaxError: EOL while scanning string literal (4180730566.py, line 1)

In [5]:
name = input("이름을 입력하세요")

이름을 입력하세요윤장혁

In [6]:
birth = input("출생 년도를 입력하세요.")

출생 년도를 입력하세요.2002

In [7]:
age = 2022 - int(birth)

In [8]:
print("안녕하세요!" + name + '님!' + str(age) + '세이시군요!')

안녕하세요!윤장혁님!20세이시군요!

In [9]:
import random

In [11]:
dice = random.randint(1, 6)

In [12]:
print(dice)

3

In [13]:
import math

In [14]:
print(math.sqrt(2))

1.4142135623730951

In [15]:
print(math.sqrt(4))

2.0

In [16]:
math.e

2.718281828459045

In [17]:
math.pi

3.141592653589793

In [19]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [20]:
test_score = [80,70,90,100]
for score in test_score:
    print(score)

80
70
90
100

In [22]:
test_name = ["국어", "영어", "수학", "과학"]
for name in test_name:
    print(name)

국어
영어
수학
과학

In [23]:
if (10 > 0):
    print("안녕하세요")

안녕하세요

In [ ]:
password = input('패스워드를 입력하세요')
if(int(password) == 12345):
    print('로그인 되었습니다')
elif int(password) == 11111:
    print("관리자 권한 필요")
else:
    print('로그인 실패')

In [ ]:
arr2 = ['월','화','수','목','금']
print(arr2[-1])
print(arr2[-2])
print(arr2[-3])
print(arr2[-4])
print(arr2[-5])
print(arr2[-6])

In [ ]:
arr2 = ['월','화','수','목','금']
print(arr2[0:2])
print(arr2[1:4])
print(arr2[1:])
print(arr2[:])

In [ ]:
arr1 = [1,2,3,4,5]
print(arr1)
print(len(arr1))
arr1.append(6)
print(arr1)
print(len(arr1))

In [ ]:
arr2 = ['월','화','수','목','금', '토']
print(arr2)
print(len(arr2))
arr2.append("일")
print(arr2)
print(len(arr2))

In [ ]:
(a, b) = (input("첫 번째 숫자, 두 번째 숫자를 입력해 주세요")).split(" ")
if int(a) > int(b):
    print(a)
else:
    print(b)

In [ ]:
def celsius_to_fahreheit(celisius):
    return (celsius * 9/5) + 32

def killoimeters_tomiles(killmeters):
    return killometers * 0.621371

def pounds_to_killograms(pounds):
    return pounds * 0.453592

print('다음 중 원하는 변환을 선택하세요')
print('1. 섭씨를 화씨로 변환')
print('2. 킬로미터를 마일로 변환')
print('3. 파운드를 킬로그램으로 변환')